@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900italic,900,700italic,700,600italic,600,400italic,300italic,300,200italic,200);
@import "mixin.scss";
body {

}


ul {
    &.no-bullet {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

* {
    outline: none;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

// Typo
h1,
.h1 {
    font-size: 64px;
}

h2,
.h2 {
    font-size: 32px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 16px;
}

h6,
.h6 {}

.white {
    color: $white;
}

.black {
    color: $black;
}

.white-bg {
    background: $white;
}

.changetobg {
    display: none !important;
    @include xs {
        display: block !important;
    }
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.tac {
    text-align: center;
}

input {
    border-radius: 0;
}

.tdu {
    text-decoration: underline !important;
}

.cup {
    cursor: pointer;
}

.ttu {
    text-transform: uppercase;
}

.cud {
    cursor: default !important;
}

.psr {
    position: relative;
}

.dtable {
    display: table;
    width: 100%;
}

.dtable-cell {
    display: table-cell;
    float: none;
}

.pss {
    position: static;
}

p {
    line-height: 1.3;
}

.p {
    p {
        font-size: 16px;
        @include xs {
            font-size: 14px;
        }
    }
    &.big {
        p {
            font-size: 18px;
            @include xs {
                font-size: 16px;
            }
        }
    }
}

input,
textarea {
    outline: none !important;
    padding: 0 10px;
}

.button {}

.gl-input {
    outline: none;
    width: 100%;
    height: 50px;
    border: 1px solid #000000;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 25px;
}

.style-select {
    width: 100%;
    position: relative;
    height: 50px;
    background: #fff url('../images/arrow-down.png') no-repeat;
    background-size: 8px 11px;
    background-position: calc(100% - 13px) center;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 25px;
    span {
        width: calc(100% - 20px);
        position: absolute;
        top: 0;
        left: 0;
        color: #171717;
        font-size: 16px;
        line-height: 50px;
        padding-left: 13px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @include tablet {
            font-size: 12px;
        }
    }
    select {
        width: 100%;
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: 0;
        line-height: 50px;
        border: 25px solid transparent;
    }
}

.video-wrapper {
    position: relative;
    padding-top: 56.25%;
    .ifr-poster {
        .device & {
            display: none;
        }
    }
    .ifr-poster,
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
        }
    }
    .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate2D(-50%,
        -50%);
        background: url('../images/play.png');
        background-size: cover;
        width: 60px;
        height: 60px;
        cursor: pointer;
        .device & {
            display: none;
        }
    }
    .video-time {
        position: absolute;
        right: 10px;
        bottom: 10px;
        line-height: 1.2;
        padding: 0px 5px;
        background-color: #000;
        color: white;
        .device & {
            display: none;
        }
    }
}

// Button
button,
.button {}

.w100p {
    width: 100%;
}

.anchor {
    content: '';
    display: block;
    height: $heightHeader + 10px;
    margin-top: -($heightHeader + 10px);
    visibility: hidden;
    @include device {
        margin-top: 0;
        height: 0;
    }
}

.mb0 {
    margin-bottom: 0 !important;
}
