$screen-md: 1025px !default;
// Font family
@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia.eot');
    src: url('../fonts/Georgia.woff') format('woff'), url('../fonts/Georgia.ttf') format('truetype'), url('../fonts/Georgia.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Color
$white: #fff;
$black: #000;
$dark-grey: #414042;
$light-grey: #e3e4e4;
$dark-blue: #001a34;
$light-blue: #0079a0;
$branch-color: #09183f;
$vhFull: 100vh;
$minVhFull: 900px;
$minVhFullMobile: 540px;
// Font-faceregular
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
// Global Component
$heightHeader: 70px;
$heightSubHeader: 50px;
// variables for mobile
$heightHeaderMobile: 50px;
$heightMenuItemsMobile: 45px;
//font georgia
$geo: 'Georgia';
