// Google Analytics: change UA-XXXXX-X to be your site's ID.
//- script.
//- 	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
//- 	function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
//- 	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
//- 	e.src='//www.google-analytics.com/analytics.js';
//- 	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
//- 	ga('create','UA-XXXXX-X');ga('send','pageview');

// build:js scripts/vendor.js
// bower:js
script(src='../bower_components/jquery/dist/jquery.min.js')
script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js')
// endbower
// endbuild

// build:js scripts/plugins.js

// endbuild

// build:js scripts/main.js
script(src='scripts/main.js')
script(src='scripts/fire.js')
// endbuild