head
	meta(charset='utf-8')
	title FE Startup
	meta(name='description' content='')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
	link(rel="shortcut icon", href="favicon.ico" type="image/x-icon")
	// Place favicon.ico and apple-touch-icon.png in the root directory

	// build:css styles/vendor.css
	// bower:css
	// endbower
	// endbuild

	// build:css styles/main.css
	link(rel='stylesheet' href='styles/main.css')
	// endbuild

	// build:js scripts/modernizr.js
	script(src='../bower_components/modernizr/modernizr.js')
	// endbuild
include ../includes/mixins.pug